body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

.auth-box{
background:#1e293b;
padding:30px;
border-radius:10px;
width:300px;
text-align:center;
margin:auto;
margin-top:15vh;
}

.auth-box input{
width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:6px;
}

.auth-box button{
width:100%;
padding:10px;
background:#3b82f6;
border:none;
border-radius:6px;
color:white;
cursor:pointer;
}

.dashboard{
display:flex;
height:100vh;
padding:30px;
gap:20px;
}

.sidebar{
width:150px;
background:#1e293b;
border-radius:20px;
padding:20px;
text-align:center;
}

.main{
flex:1;
background:#020617;
border-radius:20px;
padding:30px;
}

.search-bar{
display:flex;
gap:10px;
margin-bottom:20px;
}

.search-bar input{
flex:1;
padding:10px;
border-radius:8px;
border:none;
}

.search-bar button{
padding:10px 15px;
border:none;
border-radius:8px;
background:#3b82f6;
color:white;
cursor:pointer;
}

img{
width:120px;
}